#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.mons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid grey;
  padding: 1%;
}

.mons img {
  width: 200px;
  max-width: 80%;
  height: auto;
  padding: 1%;
}

.box {
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5%;
}

.box:hover {
  border-color: red;
}
